{% load static %}
<!-- Footer start -->
<footer class="main-footer-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-image">
                    <a href="#"><img src="{% static 'indexApp/img/logos/footer-logo.png'%}" alt="logo"></a>
                </div>
                <div class="footer-menu">
                    <ul>
                        <li class="li">
                            <a href="#">Home</a>
                        </li>
                        <li class="li">
                            <a href="properties-grid-rightside.html">Properties</a>
                        </li>
                        <li class="li">
                            <a href="agent-listing-grid.html">Agents</a>
                        </li>
                        <li class="li">
                            <a href="gallery-1.html">Gallery</a>
                        </li>
                        <li class="li">
                            <a href="blog-columns-3col.html">Blog</a>
                        </li>
                        <li class="li">
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="social-media clearfix">
                    <div class="social-list">
                        <div class="icon facebook">
                            <div class="tooltip">Facebook</div>
                            <span><i class="fa fa-facebook"></i></span>
                        </div>
                        <div class="icon twitter">
                            <div class="tooltip">Twitter</div>
                            <span><i class="fa fa-twitter"></i></span>
                        </div>
                        <div class="icon instagram">
                            <div class="tooltip">Instagram</div>
                            <span><i class="fa fa-instagram"></i></span>
                        </div>
                        <div class="icon github">
                            <div class="tooltip">Github</div>
                            <span><i class="fa fa-github"></i></span>
                        </div>
                        <div class="icon youtube mr-0">
                            <div class="tooltip">Youtube</div>
                            <span><i class="fa fa-youtube"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copy">© 2022 <a href="#">Theme Vessel.</a> Trademarks and brands are the property of their respective owners.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->