{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Sub banner start -->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>About Us</h1>
                <ul class="breadcrumbs">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">About Us</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- About real estate start -->
<div class="about-real-estate-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="about-img-section">
                    <div class="image-box sssa">
                        <div class="image-1"><img src="{% static 'indexApp/img/about-bg.png' %}" class="w-100" alt="photo"></div>
                    </div>
                    <div class="about-box-Experience">
                        <img src="{% static 'indexApp/img/about-shape.png' %}" alt="image" class="img-fluid">
                        <div class="content">
                            <h3>10+</h3>
                            <p class="mb-0">Years of Experience</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 align-self-center">
                <div class="about-text clearfix">
                    <h1>Welcome to The Nest</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five electronic typesetting, remaining essentially unchanged. specimen book. It has survived not only five electronic typesetting, remaining.</p>
                    <p class="mb-30">type and scrambled it to make a type specimen book. It has survived not only five electronic typesetting,<span class="d-none-1200"> remaining essentially unchanged. specimen book. It has survived not only five electronic typesetting, remaining. type and scrambled it to make a type specimen book. It has survived not only five electronic typesetting, remaining essentially unchanged. specimen book. It has survived not</span></p>
                    <div class="bottom">
                        <div class="left">
                            <h5 class="name">Roky Toller</h5>
                            <p class="post mb-0">General manager</p>
                        </div>
                        <div class="signature float-right"><img src="img/signature.png" alt="signature"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About real estate end -->

<!-- Our service start -->
<div class="our-service content-area-11">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>What Are You Looking For</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="service-info-1">
                    <i class="flaticon-apartment"></i>
                    <h3>Apartmentsddd</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="service-info-1">
                    <i class="flaticon-internet"></i>
                    <h3>Houses</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="service-info-1">
                    <i class="flaticon-vehicle"></i>
                    <h3>Garages</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="service-info-1">
                    <i class="flaticon-symbol"></i>
                    <h3>Commercial</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                </div>
            </div>
            <!-- <div class="col-lg-12 col-sm-12 text-center">
                <a class="btn-1 btn-outline-1" href="services-1.html">
                    <span>Learn More</span> <i class="arrow"></i>
                </a>
            </div> -->
        </div>
    </div>
</div>
<!-- Our service end -->

<!-- Testimonial 3 section start-->
<div class="testimonials-3 content-area-7 comon-slick">
    <div class="container">
        <!-- Main title -->
        <div class="main-title main-title-5">
            <h1>Our Testimonial</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
        </div>
        <div class="slick row comon-slick-inner" data-slick='{"slidesToShow": 2, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 1}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
            <div class="item slide-box">
                <div class="testimonials-inner">
                    <div class="user">
                        <a href="#">
                            <img class="media-object" src="{% static 'indexApp/img/avatar/avatar-1.jpg' %}" alt="user">
                        </a>
                    </div>
                    <div class="testimonial-info">
                        <h3>
                            Pitarshon Roky
                        </h3>
                        <p>Creative Director</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text everLorem industry's standard dummy text everLorem.</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-full"></i>
                            <span>Reting</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item slide-box">
                <div class="testimonials-inner">
                    <div class="user">
                        <a href="#">
                            <img class="media-object" src="{% static 'indexApp/img/avatar/avatar-2.jpg' %}" alt="user">
                        </a>
                    </div>
                    <div class="testimonial-info">
                        <h3>
                            Creative Director, india
                        </h3>
                        <p>Office Manager</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text everLorem industry's standard dummy text everLorem.</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-full"></i>
                            <span>Reting</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item slide-box">
                <div class="testimonials-inner">
                    <div class="user">
                        <a href="#">
                            <img class="media-object" src="{% static 'indexApp/img/avatar/avatar-3.jpg' %}" alt="user">
                        </a>
                    </div>
                    <div class="testimonial-info">
                        <h3>
                            Maikel Alisa
                        </h3>
                        <p>Web Designer, Uk</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text everLorem industry's standard dummy text everLorem.</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-full"></i>
                            <span>Reting</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial 3 end -->

<!-- Agent section start -->
<div class="agent-section content-area-17">
    <div class="container">
        <!-- Main title -->
        <div class="main-title-3">
            <p class="section-subtitle">Our Professionals</p>
            <h1>Meet Our Agent</h1>
        </div>
        <div class="row">
            {% for agent in agent_details %}
            <div class="col-lg-6 col-md-6 col-sm-12 wow fadeInLeft delay-04s">
                <div class="row agent-2 a-two g-0">
                    <div class="col-lg-5 col-md-12 col-sm-12">
                        <div class="photo">
                            <img src="{{agent.images.url}}" alt="agent-2" class="img-fluid">
                            <!-- <ul class="social-list clearfix">
                                <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                            </ul> -->
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12 align-self-center">
                        <div class="detail">
                            <h4>
                                <a href="agent-single.html">{{agent.name}}</a>
                            </h4>
                            <h5>Office Manager</h5>
                            <div class="contact">
                                <ul>
                                    <li>
                                        <strong>Address:</strong><a href="#"> {{agent.address}}</a>
                                    </li>
                                    <li>
                                        <strong>Email:</strong><a href="mailto:info@themevessel.com"> {{agent.email}}</a>
                                    </li>
                                    <li>
                                        <strong>Mobile:</strong><a href="tel:+554XX-634-7071"> {{agent.email}}</a>
                                    </li>
                                    <li>
                                        <strong>Fax:</strong><a href="#"> {{agent.fax}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Agent section end -->

{% endblock content %}