<!-- Main header start -->
{% load static %}
{% load menu_filter %}
<style>
.custom_icon i {
    background: #199388;
    padding: 10px;
    border-radius: 5px;
    color: red;
}
.custom_icon i .fa {
    background: #3b5998;
    padding: 10px;
    border-radius: 5px;
    color: red;
}
i.fa.fa-facebook, i.fa.fa-twitter {
    background: #3b5998;
    color: white;
}

i.fa.fa-twitter {
    background: #00acee ;
    color: white;
}
i.fa.fa-linkedin {
    background: #0072b1  ;
    color: white;
}
i.fa.fa-youtube {
    background: #FF0000 ;
    color: white;
}
</style>
<!-- Top header start -->
<header class="top-header th10 d-none d-lg-block top-header-5" id="top-header-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-7 col-7">
                <div class="list-inline">
                    <a href="tel:+55-4XX-634-7071"><i class="fa fa-phone"></i>Need Support? (+880) 1988 662668</a>
                    <!-- <a href="tel:info@themevessel.com"><i class="fa fa-envelope"></i>info@themevessel.com</a> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-5">
                <ul class="top-social-media pull-right">
                    <li class="custom_icon">
                        
                        <a href="##" ><i class="fa fa-facebook"></i></a>
                        <a href="##" > <i class="fa fa-twitter"></i></a>
                        <a href="##" ><i class="fa fa-linkedin"></i></a>
                        <a href="##" ><i class="fa fa-youtube"></i></a>
                        
                    </li>
                    <!-- <li>
                        <a href="login.html" class="sign-in"><i class="fa fa-book"></i> Booking Now</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- Top header end -->

<!-- Main header start -->
<header class="main-header sticky-header header-with-top2 main-header-7" id="main-header-2">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand logo" href="{% url 'home' %}">
                <img src="{% static 'indexApp/img/logos/vanture_logo.png' %}" alt="logo">
            </a>
            <button class="navbar-toggler" id="drawer" type="button">
                <span class="fa fa-bars"></span>
            </button>

            <div class="navbar-collapse collapse w-100 justify-content-center" id="navbar">
                <button style="background-color: #199388; border:1px solid blue" type="button" class="btn btn-success"><a href="{% url 'booking_now' %}" style="color:white; text-transform:uppercase;font-size:13px;font-weight: 600">Booking Now</a></button>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="{% url 'home' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Home
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Properties
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'land_project' %}">Land Project</a></li>
                            <li><a class="dropdown-item" href="{% url 'apartment_project' %}">Apartment Project</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Services
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'venture_rending' %}">Venture Trending</a></li>
                            <li><a class="dropdown-item" href="{% url 'Venture_Security' %}">Venture Security</a></li>
                            <li><a class="dropdown-item" href="{% url 'Venture_it' %}">Venture IT</a></li>
                            <li><a class="dropdown-item" href="{% url 'Venture_tourism' %}">Venture Tourism & Hospital</a></li>
                            <li><a class="dropdown-item" href="{% url 'Venture_design_Development' %}">Venture Design & Development </a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown megamenu-li">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gallery</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'gallery' %}">Gallary</a></li>
                            <!-- <li><a class="dropdown-item" href="agent-listing-grid.html">Project Image</a></li> -->
                            <li><a class="dropdown-item" href="{% url 'video' %}">Video Gallary</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Get in Touch
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'career' %}">Career</a></li>
                            <li><a class="dropdown-item" href="{% url 'ourteam' %}">Our Team</a></li>
                            <li><a class="dropdown-item" href="{% url 'notice' %}">Notice</a></li>
                            <li><a class="dropdown-item" href="{% url 'contactus' %}">Contact Us</a></li>
                        </ul>
                        
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'blog' %}" class="nav-link submit-property btn-5"> Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'about' %}" class="nav-link submit-property btn-5"> About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- Main header end -->

<!-- Sidenav start -->
<nav id="sidebar" class="nav-sidebar">
    <!-- Close btn-->
    <div id="dismiss">
        <i class="fa fa-close"></i>
    </div>
    <div class="sidebar-inner">
        <div class="sidebar-logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'indexApp/img/logos/vanture_logo.png' %}" alt="sidebarlogo">
            </a>
            <button style="background-color: #199388; border:1px solid blue;margin-right: 60px;top: 30px;" type="button" class="btn btn-success"><a href="{% url 'booking_now' %}" style="color:white; text-transform:uppercase;font-size:13px;font-weight: 600">Booking Now</a></button>
        </div>
        <div class="sidebar-navigation">
            <h3 class="heading">Pages</h3>
            <ul class="menu-list">
                <li><a href="{% url 'home' %}" class="active pt0">Home</a>

                </li>
                <li>
                    <a href="#">Properties<em class="fa fa-chevron-down"></em></a>
                    <ul>
                        <li>
                            <a href="{% url 'land_project' %}">Land Project</a>
                        </li>
                        <li>
                            <a href="{% url 'apartment_project' %}"> Apartment Project</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Services<em class="fa fa-chevron-down"></em></a>
                    <ul>
                        <li><a class="dropdown-item" href="{% url 'venture_rending' %}">Venture Trending</a></li>
                            <li><a class="dropdown-item" href="{% url 'Venture_Security' %}">Venture Security</a></li>
                            <li><a class="dropdown-item" href="{% url 'Venture_design_Development' %}">Venture Design & Development</a></li>
                            <li><a class="dropdown-item" href="{% url 'Venture_tourism' %}">Venture Tourism & Hospital</a></li>
                            <li><a class="dropdown-item" href="{% url 'Venture_design_Development' %}">Venture Design & Development</a></li>
                    </ul>
                </li>
                
                <li>
                    <a href="{% url 'gallery' %}">Gallary<em class="fa fa-chevron-down"></em> </a>
                    <ul>
                        <li>
                            <a href="{% url 'gallery' %}">Gallery</a>
                            
                        </li>
                        <li>
                            <a href="{% url 'video' %}">Video</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Get In Touch<em class="fa fa-chevron-down"></em></a>
                    <ul>
                        <li><a class="dropdown-item" href="{% url 'career' %}">Career</a></li>
                        <li><a class="dropdown-item" href="{% url 'ourteam' %}">Our Team</a></li>
                        <li><a class="dropdown-item" href="{% url 'notice' %}">Notice</a></li>
                        <li><a class="dropdown-item" href="{% url 'contactus' %}">Contact Us</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'blog' %}">Blog</a>
                </li>
                <li>
                    <a href="{% url 'about' %}">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Sidenav end -->