{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $(".form-check-input").on('click', function(){
            var filter_object={};
            $(".form-check-input").each(function(index,ele){
                var filter_value=$(this).val();
                var filter_key=$(this).data('filter');
                console.log(filter_key,filter_value);
                filter_object[filter_key]=Array.from(document.querySelectorAll('input[data-filter='+filter_key+']:checked')).map(function(el){
                     return el.value;
                });
            });
            $.ajax({
                url:"{% url 'filter-data' %}",
                data:filter_object,
                dataType:'json',			
                success:function(res){				
                    $("#filteredProducts").html(res.data);				
                }
            });
        });
    });
    </script>
<style>
.property-content p {
    margin: 10px 0 20px;
    padding: 5px;
    border-radius: 5px;
    background: #199388;
    display: inline-block;
    width: 60px;
    text-align: center;
    font-weight: 500;
}
    .overlay-link:hover {
    background: none;
    border: none;
}
    .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #199388;
    border-color: #0d6efd;
}

.property-footer span{
    padding: 20px;
}

.property-footer p:hover{
    color: green;
    background-color: white;

}
.pagination > li > a:hover {
    background: #4e5739;
}


.projects .search-poject {
  width: 100;
  height: auto;
  margin: 0 auto;
  padding-bottom: 20px;
  background: #ffffff;
}

.projects .search-poject .card-body {
  padding: 0 35px;
  padding-bottom: 10px;
  background: url(../images/about/sale_house.svg) no-repeat center right 10%;
  background-size: 20%;
}

.projects .search-poject .card-body button {
  margin-left: -15px;
}

.projects .search-poject .card-header {
  cursor: pointer;
  padding: 3px 20px;
}

.projects .search-poject .row {
  line-height: 3rem;
  font-size: 15px;
}

.projects .search-poject .custom-input {
  position: relative;
  margin-right: 10px;
}

.projects .search-poject .area-select {
  position: relative;
  width: 70%;
  margin: 0 20px;
}

.projects .search-poject .area-select .custom-select {
  font-size: 15px;
  margin: 0 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
}
input.form-check-input.project_phase, .project_type{
    /* padding-top: 26px; */
    margin-top: 15px;
    margin-right: 5px;
}
.card {
    margin-top: 75px;
}
/* .float-right{
    float: right;
} */
</style>
<div class="projects mt-5">
    <div class="container">
        <div class="search-poject">
            <div class="accordion">
                <div class="card">
                    <div class="card-header" id="filter_heading">
                        <div class="text-left" data-toggle="collapse" data-target="#filter_form" aria-expanded="true" aria-controls="filter_form">
                            Filter Projects <span class="float-right"><i class="fa fa-filter"></i></span>
                        </div>
                    </div>
                    <div id="filter_form" class="collapse show" aria-labelledby="filter_heading">
                        <div class="card-body">
                            <form action="">
                                <div class="row">
                                    <div class="col-md-2">
                                        <span class="title">Project Type</span>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="d-flex">
                                            {% for project_type_filter in project_type_filters %}
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input project_phase" name="project_phase" data-filter="projectType" id="{{project_type_filter.id}}" value="{{project_type_filter.id}}" >{{project_type_filter.name}}                                                        </label>
                                            </div>
                                            {% endfor %}
                                            <!-- {% for project_type_filter in project_type_filters %}
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                   <input type="radio" class="form-check-input project_phase" name="project_phase" data-filter="projectType" id="{{project_type_filter.id}}" value="{{project_type_filter.id}}">{{project_type_filter.name}} 
                                                </label>
                                            </div>
                                            {% endfor %} -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <span class="title">Properties Type</span>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="d-flex">
                                            <div class="d-flex">
                                                {% for property_type in property_type_filters %}
                                                <div class="form-check-inline">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input project_type" name="type" data-filter="propertyType" id="{{property_type.id}}" value="{{property_type.id}}">{{property_type.name}}
                                                    </label>
                                                </div>
                                                {% endfor %}
                                                                                                
                                                <!-- {% for property_type in property_type_filters %}
                                                <div class="form-check-inline">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input project_phase" name="project_phase" data-filter="propertyType" id="{{property_type.id}}" value="{{property_type.id}}">{{property_type.name}}
                                                        
                                                    </label>
                                                </div>
                                                {% endfor %} -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <span class="title">Project Area</span>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-3 col-4">
                                                <select class="form-control custom-form-control" id="division">
                                                    <option selected> - select a division - </option>
                                                    {% for i in divisions %}
                                                    <option value="{{i.id}}">{{i.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            
                                            <div class="col-md-3 col-4">
                                                <select class="form-control" id="district">
                                                    <option selected> - select a district - </option>
                                                    <!-- {% for i in districts %}
                                                    <option value="{{i.id}}">{{i.name}}</option>
                                                    {% endfor %} -->
                                                </select>
                                            </div>
                                            <div class="col-md-3 col-4">
                                                <select class="form-control" id="area" >
                                                    <option selected> - select an area - </option>
                                                    <!-- {% for i in areas %}
                                                    <option value="{{i.id}}">{{i.name}}</option>
                                                    {% endfor %} -->
                                                </select>
                                            </div>
                                        </div>

                                        <script>
                                            $("#division").change(function () {
                                                const divisionId = $(this).val();  // get the selected division ID from the HTML dropdown list 
                                                $.ajax({                       // initialize an AJAX request
                                                    type: "GET",
                                                    url: '{% url "get_district_ajax" %}',
                                                    data: {
                                                        'division_id': divisionId,       // add the division id to the GET parameters
                                                        'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                                                    },
                                                    success: function (data) {   // `data` is from `get_division_ajax` view function
                                                        let html_data = '<option value="">--Select District--</option>';
                                                        data.forEach(function (data) {
                                                            html_data += `<option value="${data.id}">${data.name}</option>`
                                                        });
                                                        $("#district").html(html_data); // replace the contents of the topic input with the data that came from the server
                                                    }
                                                });
                                            });
                                            $("#district").change(function () {
                                                const districtId = $(this).val();  // get the selected district ID from the HTML dropdown list 
                                                $.ajax({                       // initialize an AJAX request
                                                    type: "GET",
                                                    url: '{% url "get_area_ajax" %}',
                                                    data: {
                                                        'district_id': districtId,       // add the country id to the POST parameters
                                                        'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                                                    },
                                                    success: function (data) {   // `data` is from `get_district_ajax` view function
                                                        let html_data = '<option value="">--Select Area--</option>';
                                                        data.forEach(function (data) {
                                                            html_data += `<option value="${data.id}">${data.name}</option>`
                                                        });
                                                        $("#area").html(html_data); // replace the contents of the topic input with the data that came from the server
                                                    }
                                                });
                                            });
                                        </script>

                                        <!-- <script>
                                            function divisionfields(){
                                                divisionid= document.getElementById('division').value;
                                                window.location="{% url 'apartment_project' %}?division="+divisionid;
                                            }
                                            function districtfields(){
                                                districtid = document.getElementById('district').value;
                                                window.location = "{% url 'apartment_project' %}?division="+'{{request.GET.division}}'+"&district="+districtid;

                                            }
                                        </script> -->
                                                
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Search area start -->
<!-- property section start -->
<div class="properties-section-body content-area mt-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <!-- Option bar Start -->
                <div class="option-bar">
                    <div class="row">
                       <div class="col-lg-6 col-md-5 col-sm-5">
                           <h4>
                                <span class="heading-icon">
                                    <i class="fa fa-th-large"></i>
                                </span>
                                <span class="title">Apartment Properties</span>
                            </h4>
                        </div>
                   </div>
               </div>
               <!-- Option bar end -->
                <div class="clearfix"></div>

                <!-- Property grid start -->
                <div class="row" id="filteredProducts">
                    {% for feature_detail in feature_details %}
                    
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 wow fadeInUp delay-03s">
                        <!-- Property start -->
                        <a href="{% url 'details_property' feature_detail.id %}">
                        <div class="property fp2">
                            <!-- Property img -->
                            <div class="property-img">
                                <img src="{{feature_detail.post_pic.url}}" alt="fp" class="img-fluid">
                                <div class="property-overlay">
                                    
                                     <div class="overlay-link">{{feature_detail.post_title}}</div>

                                </div>
                            </div>
                            </a>
                            <!-- Property content -->
                            <div class="property-content">
                                <!-- info -->
                                <div class="info">
                                    <!-- title -->
                                    <h1 class="title">
                                        <a href="{% url 'details_property' feature_detail.id %}">{{feature_detail.post_title}}</a>
                                    </h1>
                                    <!-- Property address -->
                                    <h3 class="property-address">
                                        <a href="{% url 'details_property' feature_detail.id %}">
                                            <i class="fa fa-map-marker"></i>{{feature_detail.post_location}}
                                        </a>
                                    </h3>
                                    <!-- Facilities List -->
                                    <ul class="facilities-list clearfix">
                                        <li>
                                            <i class="flaticon-square-layouting-with-black-square-in-east-area"></i>
                                            <span>{{feature_detail.apartment_size}} sq ft</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-bed"></i>
                                            <span>{{feature_detail.bedrooms}} Beds</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-holidays"></i>
                                            <span> {{feature_detail.bathrooms}} Baths</span>
                                        </li>
                                        
                                    </ul>
                                </div>
                                <!-- Property footer -->
                                <div class="property-footer">
                                <span class="left">
                                    <a href=""><p>Call</p></a>
                                </span>
                                    <span class="right">
                                        <a href="{% url 'details_property' feature_detail.id %}"><p>Details</p></a>
                                </span>
                                </div>
                            </div>
                        </div>
                        <!-- Property end -->
                    </div> 
                    {% endfor %}                   
                </div>
                <!-- Property grid end -->

                <!-- Pagination box start -->
                <div class="pagination-box text-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if feature_details.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ feature_details.previous_page_number }}">Prev</a>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="disabled">Prev</a>
                            </li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                            <li class="page-item {% if i == page_number %} active {% endif %}"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                            {% endfor %}
                            {% if feature_details.has_next%}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ feature_details.next_page_number }}">Next</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <!-- Pagination box end -->
            </div>
        </div>
    </div>
</div>
<!-- property section end -->

<!-- Intro section start -->
<div class="intro-section">
    <div class="intro-section-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-7 col-sm-12">
                    <h3>Looking To Sell Or Rent Your Property?</h3>
                </div>
                <div class="col-lg-3 col-md-5 col-sm-12">
                    <a class="btn-2 btn-white" href="{% url 'contactus' %}">
                        <span>Get in Touch</span> <i class="arrow"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Intro section end -->
{% endblock content %}
