{% load static %}
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Property</span>
                </a>
                <ul aria-expanded="false">
                    
                    <li><a href="{% url 'PropertyPost-add' %}">Add Property</a></li>
                    <li><a href="{% url 'PropertyPost-list' %}">View Property</a></li>
                    
                </ul>
            </li>

            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-television"></i>
                    <span class="nav-text">Why choose us</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'why_choose_us_add' %}">Add Why Choose Us</a></li>
                    <li><a href="{% url 'why_choose_us_view' %}">View Why Choose Us</a></li>
                    <!-- <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Email</a>
                        <ul aria-expanded="false">
                            <li><a href="email-compose.html">Compose</a></li>
                            <li><a href="email-inbox.html">Inbox</a></li>
                            <li><a href="email-read.html">Read</a></li>
                        </ul>
                    </li> -->
                    <!-- <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Shop</a>
                        <ul aria-expanded="false">
                            <li><a href="ecom-product-grid.html">Product Grid</a></li>
                            <li><a href="ecom-product-list.html">Product List</a></li>
                            <li><a href="ecom-product-detail.html">Product Details</a></li>
                            <li><a href="ecom-product-order.html">Order</a></li>
                            <li><a href="ecom-checkout.html">Checkout</a></li>
                            <li><a href="ecom-invoice.html">Invoice</a></li>
                            <li><a href="ecom-customers.html">Customers</a></li>
                        </ul>
                    </li> -->
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-controls-3"></i>
                    <span class="nav-text">Faq</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'faq_add' %}">Add Faq</a></li>
                    <li><a href="{% url 'faq_view' %}">View Faq</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-internet"></i>
                    <span class="nav-text">Counter</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'counter_add' %}">Add Counter</a></li>
                    <li><a href="{% url 'counter_view' %}">View Counter</a></li>
                </ul>
            </li>

            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-internet"></i>
                    <span class="nav-text">Blog</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'blog_add' %}">Add Blog</a></li>
                    <li><a href="{% url 'blog_view' %}">View Blog</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-heart"></i>
                    <span class="nav-text">Service</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'service_add' %}">Add service</a></li>
                    <li><a href="{% url 'service_view' %}">View service</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                <i class="flaticon-381-heart"></i>
                <span class="nav-text">Gallery</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'gallery_add' %}">Add Image</a></li>
                    <li><a href="{% url 'gallery_view' %}">View Image</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-notepad"></i>
                    <span class="nav-text">Get In Touch</span>
                </a>
                <ul aria-expanded="false">
                    <li><a class="has-arrow" href="form-element.html">Career</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'career_add' %}">Add Career</a></li>
                            <li><a href="{% url 'career_view' %}">View Career</a></li>
                            <li><a href="{% url 'job_application_view' %}">View Job Application</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow" href="form-wizard.html">Our Team</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'team_add' %}">Add Our Team</a></li>
                            <li><a href="{% url 'team_view' %}">View Our Team</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow" href="form-editor-summernote.html">Notice</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'notice_add' %}">Add Notice</a></li>
                            <li><a href="{% url 'notice_view' %}">View Notice</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow" href="form-pickers.html">Contact</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'contact_view' %}">View Contact</a></li>
                        </ul>
                    </li>
                    
                </ul>
            </li>

            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-notepad"></i>
                    <span class="nav-text">About Area</span>
                </a>
                <ul aria-expanded="false">
                    <li><a class="has-arrow" href="form-element.html">About Head section</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'about_head_add' %}">Add About Head section</a></li>
                            <li><a href="{% url 'about_head_view' %}">View About Head section</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow" href="form-wizard.html">About Looking section</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'about_looking_add' %}">Add About Looking section</a></li>
                            <li><a href="{% url 'about_looking_view' %}">View About Looking section</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow" href="form-editor-summernote.html">About testimonial Section</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'about_testimonial_add' %}">Add testimonial Section</a></li>
                            <li><a href="{% url 'about_testimonial_view' %}">View testimonial Section</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow" href="form-pickers.html">Contact</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'contact_view' %}">View Contact</a></li>
                        </ul>
                    </li>
                    
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-network"></i>
                    <span class="nav-text">Table</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="table-bootstrap-basic.html">Bootstrap</a></li>
                    <li><a href="table-datatable-basic.html">Datatable</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-layer-1"></i>
                    <span class="nav-text">Pages</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="page-register.html">Register</a></li>
                    <li><a href="page-login.html">Login</a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Error</a>
                        <ul aria-expanded="false">
                            <li><a href="page-error-400.html">Error 400</a></li>
                            <li><a href="page-error-403.html">Error 403</a></li>
                            <li><a href="page-error-404.html">Error 404</a></li>
                            <li><a href="page-error-500.html">Error 500</a></li>
                            <li><a href="page-error-503.html">Error 503</a></li>
                        </ul>
                    </li>
                    <li><a href="page-lock-screen.html">Lock Screen</a></li>
                </ul>
            </li>
        </ul>
        
        <div class="copyright">
            <p><strong>Omah Dashboard</strong> ©All Rights Reserved</p>
            <p>by DexignZone</p>
        </div>
    </div>
</div> 