{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Sub banner start -->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>Services</h1>
                <ul class="breadcrumbs">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Services</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Sub Banner end -->
<div class="services content-area mt-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Property Services</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service-info-1">
                    <i class="flaticon-apartment"></i>
                    <h3>Apartments Clean</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    <a href="services-1.html" class="read-more">
                        Read More
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service-info-1">
                    <i class="flaticon-people"></i>
                    <h3>Support 24/7</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    <a href="services-1.html" class="read-more">
                        Read More
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service-info-1">
                    <i class="flaticon-air-conditioner"></i>
                    <h3>Air conditioning</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    <a href="services-1.html" class="read-more">
                        Read More
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service-info-1">
                    <i class="flaticon-vehicle"></i>
                    <h3>Garages</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    <a href="services-1.html" class="read-more">
                        Read More
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service-info-1">
                    <i class="flaticon-symbol"></i>
                    <h3>Commercial</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    <a href="services-1.html" class="read-more">
                        Read More
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service-info-1">
                    <i class="flaticon-weightlifting"></i>
                    <h3>Gym</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    <!-- <a href="services-1.html" class="read-more">
                        Read More
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services 2 start -->
<div class="services-2 content-area comon-slick">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>PROFESSIONAL SERVICE</h1>
            <p>Choose from a wide variety of products made to fit all your needs</p>
        </div>
        <div class="slick row comon-slick-inner" data-slick='{"slidesToShow": 4, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
            <div class="item slide-box">
                <div class="services-info-2">
                    <img src="{% static 'indexApp/img/service/service-2.jpg'%}" alt="service-2">
                    <!-- Detail -->
                    <div class="caption detail">
                        <!-- title -->
                        <h3 class="title"><a href="blog-single-sidebar-right.html">Security</a></h3>
                        <!-- paragraph -->
                        <p>Lorem Ipsum is simply dummy text of the printing typesetting industry. Lorem Ipsum has</p>
                        <!-- Btn -->

                    </div>
                </div>
            </div>
            <div class="item slide-box">
                <div class="services-info-2">
                    <img src="{% static 'indexApp/img/service/service-3.jpg'%}" alt="service-3">
                    <!-- Detail -->
                    <div class="caption detail">
                        <!-- title -->
                        <h3 class="title"><a href="blog-single-sidebar-right.html">Bang Loan</a></h3>
                        <!-- paragraph -->
                        <p>Lorem Ipsum is simply dummy text of the printing typesetting industry. Lorem Ipsum has</p>
                        <!-- Btn -->
                    </div>
                </div>
            </div>
            <div class="item slide-box">
                <div class="services-info-2">
                    <img src="img/service/service.jpg" alt="service">
                    <!-- Detail -->
                    <div class="caption detail">
                        <!-- title -->
                        <h3 class="title"><a href="blog-single-sidebar-right.html">Support 24/7</a></h3>
                        <!-- paragraph -->
                        <p>Lorem Ipsum is simply dummy text of the printing typesetting industry. Lorem Ipsum has</p>
                        <!-- Btn -->
                    </div>
                </div>
            </div>
            <div class="item slide-box">
                <div class="services-info-2">
                    <img src="{% static 'indexApp/img/service/service-4.jpg'%}" alt="service-4">
                    <!-- Detail -->
                    <div class="caption detail">
                        <!-- title -->
                        <h3 class="title"><a href="blog-single-sidebar-right.html">Room Service</a></h3>
                        <!-- paragraph -->
                        <p>Lorem Ipsum is simply dummy text of the printing typesetting industry. Lorem Ipsum has</p>
                        <!-- Btn -->
                        <!-- <a href="#" class="read-more">Read More...</a> -->
                    </div>
                </div>
            </div>
            <div class="item slide-box">
                <div class="services-info-2">
                    <img src="{% static 'indexApp/img/service/service.jpg'%}" alt="service-3">
                    <!-- Detail -->
                    <div class="caption detail">
                        <!-- title -->
                        <h3 class="title"><a href="blog-single-sidebar-right.html">Bang Loan</a></h3>
                        <!-- paragraph -->
                        <p>Lorem Ipsum is simply dummy text of the printing typesetting industry. Lorem Ipsum has</p>
                        <!-- Btn -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services 2 end -->
{% endblock content %}